.about {
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: lightblue;
  h2 {
    font-size: 1.8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
  }
  p {
    font-size: 1.5rem;
    padding: 2rem;
  }
}

.home-button {
  margin: 1rem;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  background: lightblue;
  outline: none;
  padding: 0.5rem;
  cursor: pointer;
  & :hover {
    background: rgb(47, 120, 144);
  }
}
.home-pic {
  border: none;
  width: 2.5rem;
}

.main-body {
  font-family: "Lato", sans-serif;
  text-align: center;
}
.logo-title-div {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}
.logo-title {
  font-family: "Caveat", cursive;
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
}
.brain-logo {
  width: 12%;
  height: 12%;_
  border-radius: 0px;
  margin-top: 1rem;
}
