.about {
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  h2 {
    font-size: 1.8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
  }
  p {
    font-size: 1.5rem;
    padding: 2rem;
  }
}

.main-body {
  text-align: center;
}
