.about {
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: lightblue;
  h2 {
    font-size: 1.8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
  }
  p {
    font-size: 1.5rem;
    padding: 2rem;
  }
}
.home-button {
  .homeButton {
    margin: 1rem;
    border: none;
    background-color: lightBlue;
    height: 4rem;
    width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    background: lightblue;
    outline: none;
    padding: auto;
    cursor: pointer;
    & :hover {
      background: rgb(83, 147, 168);
      border-radius: 2px;
    }
  }
  .homePic {
    margin: auto;
    width: 90%;
    border-radius: 20px;
    border: none;
  }
}
.main-body {
  font-family: "Lato", sans-serif;
  text-align: center;
}
.logo-title-div {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}
.logo-title {
  font-family: "Caveat", cursive;
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
}
.brain-logo {
  width: 12%;
  height: 12%;
  border-radius: 0px;
  margin-top: 1rem;
}
