.game {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: lightblue;
  h2 {
    margin: 1rem;
  }
<<<<<<< HEAD
  img {
    width: 10%;
    border-radius: 20px;
    border: 5px solid black;
    margin: 1rem;
  }
}

.home-button1 {
  .homeButton {
    margin: 1rem;
    border: none;
    background-color: lightBlue;
    height: 4rem;
    width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    background: lightblue;
    outline: none;
    padding: auto;
    cursor: pointer;
    & :hover {
      background: rgb(83, 147, 168);
      border-radius: 2px;
    }
  }
  .homePic {
    margin: auto;
    width: 90%;
    border-radius: 20px;
    border: none;
  }
=======
>>>>>>> e318855ea0002bef5301c4da68a528178a2cdeb6
}
.main-body {
  font-family: "Lato", sans-serif;
  text-align: center;
}

//Temporary style. Will need to do this properly later

body {
  text-align: center;
  font-family: -apple-system, sans-serif;
}
.container {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
button {
  background-color: rgb(64, 154, 184);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
  outline: none;
  margin: 2rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    background: rgb(47, 120, 144);
  }
}
button:focus {
  outline: 0;
}
#cards {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 160px;
  height: 160px;
  margin-bottom: 20px;
}
.card:not(:nth-child(6n)) {
  margin-right: 20px;
}

.c {
  position: absolute;
  max-width: 160px;
  max-height: 160px;
  width: 50ch;
  height: 50ch;
  cursor: pointer;
  will-change: transform, opacity;
}

.front,
.back {
  background-size: cover;
}

.back {
  background-image: url("../img/CardBackBlue.png");
  border: 5px solid rgb(58, 138, 165);
  border-radius: 20px;
}

.front {
  border: 5px solid rgb(58, 138, 165);
  border-radius: 20px;
}

.home-button {
  margin: 1rem;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  background: lightblue;
  outline: none;
  padding: 0.5rem;
  cursor: pointer;
  & :hover {
    background: rgb(47, 120, 144);
  }
}
.home-pic {
  border: none;
  width: 2.5rem;
}

.logo-title-div {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}
.logo-title {
  font-family: "Caveat", cursive;
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
}
.brain-logo {
  width: 3rem;
  border-radius: 0px;
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .game {
  }
}
