.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: lightblue;
  h1 {
    text-align: center;
    display: block;
    margin: 2rem;
    font-family: "Caveat", cursive;
    font-size: 4rem;
  }
  .brain-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
.home {
  button {
    background-color: rgb(64, 154, 184);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    outline: none;
    margin: 2rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      background: rgb(47, 120, 144);
    }
  }
}
