.tutorial {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: lightblue;
  h1 {
    text-align: center;
    display: block;
    margin: 2rem;
    font-family: "Caveat", cursive;
    font-size: 3rem;
  }
  h2 {
    font-size: 1.8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
  }
  p {
    font-size: 1.5rem;
    padding: 2rem;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7%;
    margin-top: 0rem;
    margin-bottom: 2rem;
  }
}
.main-body {
  font-family: "Lato", sans-serif;
  text-align: center;
}
