.tutorial {
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: lightblue;
  h1 {
    text-align: center;
    display: block;
    margin: 2rem;
    font-family: "Caveat", cursive;
    font-size: 3rem;
  }
  h2 {
    font-size: 1.8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
  }
  p {
    font-size: 1.5rem;
    padding: 2rem;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 6rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
  }
}
.home-button {
  .homeButton {
    margin: 1rem;
    border: none;
    background-color: lightBlue;
    height: 4rem;
    width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    background: lightblue;
    outline: none;
    padding: auto;
    cursor: pointer;
    & :hover {
      background: rgb(83, 147, 168);
      border-radius: 2px;
    }
  }
  .homePic {
    margin: auto;
    width: 90%;
    border-radius: 20px;
    border: none;
  }
}
.main-body {
  font-family: "Lato", sans-serif;
  text-align: center;
}
