.tutorial {
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: lightblue;

  h2 {
    font-size: 1.8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
  }
  p {
    font-size: 1.5rem;
    padding: 2rem;
  }
}
<<<<<<< HEAD
.home-button1 {
  .homeButton {
    margin: 1rem;
    border: none;

    height: 4rem;
    width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    background: lightblue;
    outline: none;
    padding: auto;
    cursor: pointer;
    & :hover {
      background: rgb(83, 147, 168);
      border-radius: 2px;
    }
  }
  .homePic {
    margin: auto;
    width: 90%;
    border-radius: 20px;
    border: none;
=======

.home-button {
  margin: 1rem;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  background: lightblue;
  outline: none;
  padding: 0.5rem;
  cursor: pointer;
  & :hover {
    background: rgb(47, 120, 144);
>>>>>>> e318855ea0002bef5301c4da68a528178a2cdeb6
  }
}
.home-pic {
  border: none;
  width: 2.5rem;
}

.main-body {
  font-family: "Lato", sans-serif;
  text-align: center;
}
.logo-title-div {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}
.logo-title {
  font-family: "Caveat", cursive;
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
}
.brain-logo {
  width: 9rem;
  border-radius: 0px;
  margin-top: 1rem;
}
