$font-stack: Helvetica, sans-serif;
$MobileWidth: 500px;
$ButtonColour: rgb(64, 154, 184);
$ButtonHoverColour: rgb(47, 120, 144);
$AppBackgroundColour: lightblue;
$LogoFont: "Caveat", cursive;
$TabletWidth: 800px;
