* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./home";
<<<<<<< HEAD
=======
@import "./game";
>>>>>>> 0823bf082ba16869a2292e5bbd75430c97a11a18
@import "./about";
@import "./tutorial";
@import "./game";
