* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// @import "/home";
// @import "/game";
// @import "/myp";
// @import "/tutorial";

@import "./home";
@import "./game";
@import "./myp";
@import "./tutorial";
